// Colors specific to this theme

// Core
@sea-nymph: #709090; // 8cada3
@falcon: #62494e; // 62494e
@periglacial-blue: #8d9c97;
@xanadu: #668a6f; // 638c67
@bokara-grey: #181615;
@kumera: #755928;
@nordic: #29595f; // #27494f // #224549
@yellow-metal: #7C6C4C;
@wineberry: #5A1D31;

// Accent
@aubergine: #231011;
@diesel: #0c0c0c; // @diesel: #0C0002;
@keppel: #339FA0;
@blackberry: #4A1D31;
@woodsmoke: #16181c;
@night-rider: #140004;
@boulder: #7e8884;
@boulder2: #5a605e;
@strikemaster: #905a83;
@sandstone: #7C6C5C;
@merlot: #8A1D31;
@crown-of-thorns: #7A1D31;
@persian-plum: #806071; // 691D31

// Git
@barossa: #523743;
@japonica: #CC6655;
@ecru: #C2B080;
@semi-sweet-chocolate: #6d4626;
